<p id="notice"><%= notice %></p>


<p>
  	<strong>Name:</strong>
  	<%= @pet.name %>
</p>

<p>
  	<strong>Photo:</strong>
  	<%= image_tag @pet.image.url(:large) %>
</p>

<p>
	<strong>Parent:</strong>
	<%= link_to @pet.user.name, @pet.user %>
</p>

<% if @pet.user == current_user %>
	<%= link_to 'Add a New Post', new_pet_post_path(@pet) %>
<% end %>

<% @posts.each do |post| %>
	<p>
	  	<strong>Name:</strong>
	  	<%= link_to post.title, pet_post_path(@pet, post) %>
	</p>

	<p>
	  	<strong>Photo:</strong>
	  	<%= link_to (image_tag post.image.url(:large)), pet_post_path(@pet, post) %>
	</p>
<% end %>

<% if @pet.user == current_user %>
	<div class="btn btn-danger delete">
		<%= link_to 'Delete Pet Profile', @pet, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>

