<p id="notice"><%= notice %></p>

<h2><%= @pet.name %>
	<% if @pet.user == current_user %>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit <%= @pet.name %>'s profile</button>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  	<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Edit <%= @pet.name %>'s profile</h4>
		      		</div>
		      	<div class="modal-body">
		        <%= render 'form' %>
		      	</div>
		      		<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
	<% end %>
</h2>

<% if @pet.birthday %>
	<h5>is <%= time_ago_in_words(@pet.birthday) %> old</h5>
<% end %>

<p>
	<% if @pet.image_file_name == nil && @pet.user.image_file_name == nil %>
		<%= image_tag 'default.jpg' %>
	<% elsif @pet.image_file_name == nil %>
		<%= image_tag @pet.user.image.url(:large) %>
	<% else %>
		<%= image_tag @pet.image.url(:large) %>
	<% end %>
</p>

<div class="border">
	<%= @pet.description %>
</div>

<button type="button" class="btn btn-default">
	<strong>Parent:</strong>
	<%= link_to @pet.user.name, @pet.user %>
</button>

<br><br>

<h2><%= @pet.name %>'s Posts</h2>

<% if @pet.user == current_user %>
	<button type="button" class="btn btn-default">
		<%= link_to 'Add a New Post', new_pet_post_path(@pet) %>
	</button>
<% end %>

<div class="border">
	<% if @posts.count > 0 %>
		<% @posts.each do |post| %>
			<h4><%= link_to post.title, pet_post_path(@pet, post) %></h4>

			<p>
				<% if post.image_file_name == nil && post.pet.image_file_name == nil && post.pet.user.image_file_name == nil %>
					<%= link_to (image_tag 'default.jpg'), pet_post_path(@pet, post) %>
				<% elsif post.image_file_name == nil && post.pet.image_file_name == nil %>
					<%= link_to (image_tag post.pet.user.image.url(:large)), pet_post_path(@pet, post) %>
				<% elsif post.image_file_name == nil %>
					<%= link_to (image_tag post.pet.image.url(:large)), pet_post_path(@pet, post) %>
				<% else %>
					<%= link_to (image_tag post.image.url(:large)), pet_post_path(@pet, post) %>
				<% end %>
			</p>
		<% end %>
	<% else %>
		<%= @pet.name %> doesn't have any posts yet.
	<% end %>
</div>

<% if @pet.user == current_user %>
	<button class="btn btn-danger delete">
		<%= link_to 'Delete Pet Profile', @pet, method: :delete, data: { confirm: 'Are you sure?' } %>
	</button>
<% end %>

