<p id="notice"><%= notice %></p>

<h2><%= @pet.name %>
	<% if @pet.user == current_user %>
		<button type="button" class="btn btn-default">
			<%= link_to 'Edit this profile', edit_pet_path(@pet) %>
		</button>
	<% end %>
</h2>

<h5>is <%= time_ago_in_words(@pet.birthday) %> old</h5>

<p>
  	<%= image_tag @pet.image.url(:large) %>
</p>

<button type="button" class="btn btn-default">
	<strong>Parent:</strong>
	<%= link_to @pet.user.name, @pet.user %>
</button>

<br><br>

<h2><%= @pet.name %>'s Posts</h2>

<% if @pet.user == current_user %>
	<button type="button" class="btn btn-default">
		<%= link_to 'Add a New Post', new_pet_post_path(@pet) %>
	</button>
<% end %>

<div class="border">
	<% @posts.each do |post| %>
		<h4><%= link_to post.title, pet_post_path(@pet, post) %></h4>

		<p>
		  	<%= link_to (image_tag post.image.url(:large)), pet_post_path(@pet, post) %>
		</p>
	<% end %>
</div>

<% if @pet.user == current_user %>
	<button class="btn btn-danger delete">
		<%= link_to 'Delete Pet Profile', @pet, method: :delete, data: { confirm: 'Are you sure?' } %>
	</button>
<% end %>

