<% if current_user %>
  	Logged in as: <%= current_user.name %> <%= link_to 'Log Out', logout_path, method: :delete %>
<% else %>
  	<%= link_to 'Log In', login_path %>
  	<%= link_to 'Sign Up', users_new_path %>
<% end %>

<%= link_to 'View Pets', pets_path %>

<h1>Users</h1>
<table>
  	<thead>
    	<tr>
	      	<th>Name</th>
	      	<th>Email</th>
	      	<th colspan="3"></th>
    	</tr>
  	</thead>

  	<tbody>
    	<% @users.each do |user| %>
      	<tr>
	        <td><%= link_to user.name, user %></td>
            <td><%= link_to (image_tag user.image.url(:small)), user %></td>
	        <td><%= user.email %></td>
      	</tr>
    	<% end %>
  	</tbody>
</table>