<p id="notice"><%= notice %></p>

<p>
  	<strong>Name:</strong>
  	<%= @user.name %>
</p>

<p>
  	<strong>Email:</strong>
  	<%= @user.email %>
</p>

<% @pets.each do |pet| %>
	<p>
	  	<strong>Name:</strong>
	  	<%= link_to pet do %>
	  		<%= pet.name %>
	  	<% end %>
	</p>

	<p>
	  	<strong>Photo:</strong>
	  	<%= image_tag pet.image.url(:small) %>
	</p>
<% end %>
