<p id="notice"><%= notice %></p>

<h2>
  	<%= @user.name %>
	<% if @user == current_user %>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit your profile</button>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  	<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Edit your profile</h4>
		      		</div>
		      	<div class="modal-body">
		        <%= render 'form' %>
		      	</div>
		      		<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
	<% end %>
</h2>

<p>
	<% if @user.image_file_name == nil %>
		<%= image_tag 'default.jpg' %>
	<% else %>
		<%= image_tag @user.image.url(:large) %>
	<% end %>
</p>

<p>
  	<button type="button" class="btn btn-default">
  		<%= mail_to @user.email, @user.email %>
  	</button>
</p>

<br>

<h2><%= @user.name %>'s Pets
	<% if @user == current_user %>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add a new pet profile</button>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  	<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Add a new pet profile</h4>
		      		</div>
		      	<div class="modal-body">
		        <%= render 'pets/form' %>
		      	</div>
		      		<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
	<% end %>
</h2>

<% @pets.each do |pet| %>
	<div class="border">
		<button type="button" class="btn btn-default">
		  	<%= link_to pet.name, pet %>
		</button>
		<br><br>
		<p>
			<% if pet.image_file_name == nil && pet.user.image_file_name == nil %>
				<%= link_to (image_tag 'default.jpg'), pet %>
			<% elsif pet.image_file_name == nil %>
				<%= link_to (image_tag pet.user.image.url(:large)), pet %>
			<% else %>
				<%= link_to (image_tag pet.image.url(:large)), pet %>
			<% end %>
		</p>
	</div>
<% end %>

<% if @user == current_user %>
	<div class="btn btn-danger delete">
		<%= link_to 'Delete Profile', @login, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>
