<p id="notice"><%= notice %></p>

<p>
  	<strong>Name:</strong>
  	<%= @user.name %>
</p>

<p>
  	<strong>Photo:</strong>
  	<%= image_tag @user.image.url(:large) %>
</p>

<p>
  	<strong>Email:</strong>
  	<%= @user.email %>
</p>

<% @pets.each do |pet| %>
	<p>
	  	<strong>Name:</strong>
	  	<%= link_to pet.name, pet %>
	</p>

	<p>
	  	<strong>Photo:</strong>
	  	<%= link_to (image_tag pet.image.url(:large)), pet %>
	</p>
<% end %>
