<p id="notice"><%= notice %></p>

<h2>
  	<%= @user.name %>
  	<% if @user == current_user %>
		<button type="button" class="btn btn-default">
			<%= link_to 'Edit your profile', edit_user_path %>
		</button>
	<% end %>
</h2>

<p>
  	<%= image_tag @user.image.url(:large) %>
</p>

<p>
  	<button type="button" class="btn btn-default">
  		<%= mail_to @user.email, @user.email %>
  	</button>
</p>

<br>

<h2><%= @user.name %>'s Pets
	<% if @user == current_user %>
		<button type="button" class="btn btn-default">
			<%= link_to 'Add a new pet profile', new_pet_path %>
		</button>
	<% end %>
</h2>

<% @pets.each do |pet| %>
	<div class="border">
		<button type="button" class="btn btn-default">
		  	<%= link_to pet.name, pet %>
		</button>
		<br><br>
		<p>
		  	<%= link_to (image_tag pet.image.url(:large)), pet %>
		</p>
	</div>
<% end %>

<% if @user == current_user %>
	<div class="btn btn-danger delete">
		<%= link_to 'Delete Profile', @login, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>
