<p id="notice"><%= notice %></p>

<p>
	<% if @post.pet %>
        <td><%= link_to @post.pet.name, @post.pet %></td>
    <% end %>
</p>

<p>
  	<%= @post.title %>
</p>

<p>
  	<%= image_tag @post.image.url(:large) %>
</p>

<p>
  	<%= @post.body %>
</p>

<% @comments.each do |comment| %>
	<p>
	  	<strong>Posted by:</strong>
	  	<%= link_to comment.user.name, comment.user %>
	</p>

	<p>
	  	<strong>Comment:</strong>
	  	<%= comment.body %>
	</p>
<% end %>

<%= link_to 'Add a comment', new_pet_post_comment_path(@pet, @post) %>

<% if @post.pet.user == current_user %>
	<%= link_to 'Delete this post', pet_post_path(@pet, @post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
