<p id="notice"><%= notice %></p>

<h2>
	<% if @post.pet %>
        <%= link_to @post.pet.name, @post.pet %>
    <% end %>
    <% if @pet.user == current_user %>
	    <button type="button" class="btn btn-default">
			<%= link_to 'Edit this post', edit_pet_post_path(@pet, @post) %>
		</button>
	<% end %>
</h2>

<h4>
  	<%= @post.title %>
</h4>

<p>
  	<%= image_tag @post.image.url(:large) %>
</p>

<p>
  	<%= @post.body %>
</p>

<% @comments.each do |comment| %>
	<div class="border">
		<p>
		  	<%= link_to comment.user.name, comment.user %> says:
		  	<%= comment.body %>
		</p>
	</div>
<% end %>

<button type="button" class="btn btn-default">
	<%= link_to 'Add a comment', new_pet_post_comment_path(@pet, @post) %>
</button>

<% if @post.pet.user == current_user %>
	<div class="btn btn-danger delete">
		<%= link_to 'Delete this post', pet_post_path(@pet, @post), method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>
